<div class="cp__container" [formGroup]="cgForm">
  <div class="card">
    <div class="card-title">
      <h2>Alterar senha</h2>
    </div>
    <div class="card-body">
      <label for="">Senha atual: *</label>
      <input type="password" class="form-control" formControlName="userPassword" />
      <label for="">Nova senha: *</label>
      <input type="password" class="form-control" formControlName="userNewPassword" />
    </div>
    <div class="card-footer">
      <button class="btn btn-warning" (click)="changePwd()">Alterar</button>
    </div>
  </div>
</div>
